/* start css-reset */
*
{
    margin:0;
    padding:0;
    outline:0;
    border:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    background-image: -webkit-gradient(linear,right top,left bottom,
	color-stop(0.44, #6ED8CC),
	color-stop(0.12, #0F5076));
}


/* end of css-reset */


.carousel {
    margin-top:20px;
    width:100%!important;
    height:auto;
}


.carousel .images img {
    widows: 100%!important;
    margin-top:10px;
    height:100%;
    position: relative;
}

.carousel .images p{
    position: absolute;
    top:25px;
    left:20px;
    color:#fff;
    width:60px;
    height:60px;
    line-height:55px;
    text-align:center;
    border:3px solid #fff;
    background:#000;
    font-size:18px;
    font-weight:bold;
    border-radius:100%;
}


.title,.caption,.created,.comment-count,.likes-count{
    margin:10px 15px;
}

.content{
    margin-bottom:100px;
    margin-top:20px;
}

/* start footer-navbar */
.footer-navbar{
    width:100%;
    height:auto;
    margin:100px auto 0;
    border-top:1px solid #CFCCCC;
    box-shadow:0 0 2px 0px #CFCCCC;
    background: #FFF;
    position: fixed;
    bottom: 0;
    left:0;
}


.footer-navbar img{
    width:50px;
    height:50px;
    margin:20px auto;
}
/* end of footer-navbar